In [11]:
import pandas as pd
from pandas.tseries.offsets import BDay

isBusinessDay = BDay().onOffset
eth = 'Datasets/ETH.csv'
eth_df = pd.read_csv(eth)
match_series = pd.to_datetime(eth_df['Date']).map(isBusinessDay)
eth_df = eth_df[match_series]
eth_df

/Users/sareddyrojareddy/opt/anaconda3/lib/python3.9/site-packages/pandas/core/base.py:870: FutureWarning: onOffset is a deprecated, use is_on_offset instead
  new_values = map_f(values, mapper)

            Date  Close/Last  Volume     Open     High      Low
0     02/28/2022     2918.05     NaN  2612.25  2969.62  2892.95
3     02/25/2022     2819.57     NaN  2615.98  2856.01  2767.58
4     02/24/2022     2619.36     NaN  2402.67  2646.92  2583.02
5     02/23/2022     2396.84     NaN  2652.93  2592.01  2360.91
6     02/22/2022     2644.12     NaN  2511.26  2657.86  2602.98
...          ...         ...     ...      ...      ...      ...
1015  03/14/2019      132.61     NaN   132.08   134.82   130.48
1016  03/13/2019      132.06     NaN   133.19   133.84   131.20
1017  03/12/2019      133.80     NaN   132.99   134.93   129.14
1018  03/11/2019      133.42     NaN   136.10   136.23   131.66
1021  03/08/2019      133.85     NaN   136.93   139.45   131.66

[728 rows x 6 columns]

In [10]:
bitcoin = 'Datasets/Bitcoin.csv'
bitcoin_df = pd.read_csv(bitcoin)
match_series_bitcoin = pd.to_datetime(bitcoin_df['Date']).map(isBusinessDay)
bitcoin_df = bitcoin_df[match_series_bitcoin]
bitcoin_df

            Date  Close/Last  Volume     Open     High      Low
0     02/28/2022     43331.5     NaN  37818.6  43638.6  42890.9
3     02/25/2022     39443.6     NaN  38927.2  40094.5  39166.3
4     02/24/2022     38756.5     NaN  34912.1  38991.0  38167.0
5     02/23/2022     35078.8     NaN  37760.5  37417.3  34594.1
6     02/22/2022     37982.8     NaN  36576.5  38329.9  37598.7
...          ...         ...     ...      ...      ...      ...
1015  03/14/2019      3879.8     NaN   3864.6   3914.7   3828.4
1016  03/13/2019      3864.9     NaN   3887.6   3894.7   3847.4
1017  03/12/2019      3886.0     NaN   3870.3   3900.1   3817.1
1018  03/11/2019      3865.1     NaN   3915.6   3935.5   3842.4
1021  03/08/2019      3865.9     NaN   3875.1   3929.0   3810.7

[728 rows x 6 columns]

In [24]:
#rename columns
eth_df = eth_df.rename(columns ={"Close/Last": "Last_eth","Open": "Open_eth","High": "High_eth","Low": "Low_eth"})
bitcoin_df = bitcoin_df.rename(columns={"Close/Last": "Last_bitcoin","Open": "Open_bitcoin","High": "High_bitcoin","Low": "Low_bitcoin"})

#create dataframe using ETH and Bitcoin datasets
crypto = pd.DataFrame(eth_df,columns=['Date','Last_eth', 'Open_eth', 'High_eth', 'Low_eth'])

crypto = crypto.join(bitcoin_df['Last_bitcoin'])
crypto = crypto.join(bitcoin_df['Open_bitcoin'])
crypto = crypto.join(bitcoin_df['High_bitcoin'])
crypto = crypto.join(bitcoin_df['Low_bitcoin'])
crypto

,Date,Last_eth,Open_eth,High_eth,Low_eth,Last_bitcoin,Open_bitcoin,High_bitcoin,Low_bitcoin
0,02/28/2022,2918.05,2612.25,2969.62,2892.95,43331.5,37818.6,43638.6,42890.9
3,02/25/2022,2819.57,2615.98,2856.01,2767.58,39443.6,38927.2,40094.5,39166.3
4,02/24/2022,2619.36,2402.67,2646.92,2583.02,38756.5,34912.1,38991.0,38167.0
5,02/23/2022,2396.84,2652.93,2592.01,2360.91,35078.8,37760.5,37417.3,34594.1
6,02/22/2022,2644.12,2511.26,2657.86,2602.98,37982.8,36576.5,38329.9,37598.7
...,...,...,...,...,...,...,...,...,...
1015,03/14/2019,132.61,132.08,134.82,130.48,3879.8,3864.6,3914.7,3828.4
1016,03/13/2019,132.06,133.19,133.84,131.20,3864.9,3887.6,3894.7,3847.4
1017,03/12/2019,133.80,132.99,134.93,129.14,3886.0,3870.3,3900.1,3817.1
1018,03/11/2019,133.42,136.10,136.23,131.66,3865.1,3915.6,3935.5,3842.4
1021,03/08/2019,133.85,136.93,139.45,131.66,3865.9,3875.1,3929.0,3810.7